<mat-card class="example-card">
  <h5>{{ cardExchangeRate.date | date : "dd/MM/yyyy" }}</h5>
  <div class="card-info">
    <div>
      <div>
        <p>OPEN:</p>
        <h4>R$ {{ cardExchangeRate?.open | decimalConvert : 2 }}</h4>
      </div>
      <div>
        <p>CLOSE:</p>
        <h4>R$ {{ cardExchangeRate?.close | decimalConvert : 2 }}</h4>
      </div>
    </div>
    <div>
      <div>
        <p>HIGH:</p>
        <h4>R$ {{ cardExchangeRate?.high | decimalConvert : 2 }}</h4>
      </div>
      <div>
        <p>LOW:</p>
        <h4>R$ {{ cardExchangeRate?.low | decimalConvert : 2 }}</h4>
      </div>
    </div>
  </div>

  <div class="close-dif" *ngIf="cardExchangeRate?.dif">
    <p>CLOSE DIF (%):</p>
     <h4 *ngIf="cardExchangeRate?.dif > 0" style="color: green">+ {{cardExchangeRate?.dif }}%   ▲</h4>
     <h4 *ngIf="cardExchangeRate?.dif < 0" style="color: red"> {{cardExchangeRate?.dif }}%  ▼</h4> 
  </div>
</mat-card>
