<div class="main">

  <div class="container">

    <app-header></app-header>

    <h1>BRL EXCHANGE RATE</h1>
  
    <form class="form">
      <mat-form-field class="full-width">
        <mat-label>Enter the currency code</mat-label>
        <input matInput  name="currentExchangeRateSearch" [(ngModel)]="currentExchangeRateSearch" [ngModelOptions]="{ standalone: true }"/>
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="rounded-button"
      (click)="search(currentExchangeRateSearch || '')"
      >
        EXCHANGE RESULT
      </button>
  
    </form>
  
    <app-exchange-rate-card-list
    *ngIf="exchangeRate"
    [exchangeRate]="exchangeRate"
    [listExchangeRate]="listExchangeRate"
    ></app-exchange-rate-card-list>
    
  </div>

  <app-footer></app-footer>
</div>
<app-loading *ngIf="loading"></app-loading>


