<div class="container-card-info">
  <div class="card-info">
    <div>
      <h3>Exchange rate now</h3>
      <span>{{exchangeRate?.lastUpdatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</span>
    </div>
    <div>
      <h1>{{exchangeRate?.fromSymbol}}/BRL</h1>
    </div>
  </div>
  <div class="value-currency">R$ {{exchangeRate?.exchangeRate | decimalConvert: 2}}</div>

  <mat-accordion >
    <mat-expansion-panel
      hideToggle
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="expansion-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>LAST 30 DAYS</h3>
        </mat-panel-title>
        <mat-icon
          aria-hidden="false"
          [fontIcon]="!panelOpenState ? 'add' : 'remove'"
          *ngIf="!panelOpenState"
          class="custom-icon-color"
        ></mat-icon>

        <mat-icon
          aria-hidden="false"
          [fontIcon]="panelOpenState ? 'remove' : 'add'"
          *ngIf="panelOpenState"
          class="custom-icon-color"
        ></mat-icon>

      </mat-expansion-panel-header>

      <div class="card-expansion-panel">
        <div *ngFor="let card of listExchangeRate">
          <app-exchange-rate-card
          [cardExchangeRate]="card"
          ></app-exchange-rate-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
