.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1333333333);
  top: 0;
  left: 0;
  z-index: 99999;
}
